:root {
    --bg-side: #051e34;
    --bg-bol-top: #1b72e8;
}



/* debug */
.debug .sidebar_bottom {
 /*    background-color: beige; */
}

.debug [class^=col]{
 /*    border: 1px dashed black;
    height: 100px; */
}

/* debug */

/* #region Structure Side */
.bar_top {
    height: calc(100vh - 60px);
    display: flex;
    
}

.bar_top > .sidebar {
    width: 110px;
    overflow: hidden;
    background-color:var(--bg-side);
    justify-content: space-between;
   
}

.bar_top .sidebar_top {
    max-height: calc(100% - 60px);
    
    overflow-y: auto;
}

.bar_top .sidebar_bottom {
    height: 60px;
}

.bar_top > .content {
    width: calc(100% - 110px);
    overflow-y: auto;
    ;
}

ul li {
    list-style: none;
   
}
/* #endregion Structure Side */

/* #region Boolean Top */

.boolean_top {
    background-color: var(--bg-bol-top);
}

.blue {
    background-color: #165bba;
}
/* #region Boolean Top */

.card_left {
    
}

.table img {
    width: 18px;
    margin-right: 5px;
    margin-top: -5px;
}

.image_grafico img {
    max-width:100% ;
}









